.register-page {
    border: 2px solid #6596B6;
    border-radius: 5px;
    width: 540px;
    height: 100%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;

    p {
        font-size: 35px;
        font-weight: bold;
    }

    .errors-message {
        display: flex;
        justify-content: space-evenly;
        color: red;
        font-size: 13px;
    }

    .width-input {
        input {
            width: 400px;
        }
    }

    input,
    select {
        margin: 5px;
        padding: 6px 8px;
        font-size: 15px;
        outline: none;
        border: 1px solid #000;
        border-radius: 5px 0 0 5px;

        &:focus {
            border: 2px solid #6596B6;
            border-radius: 5px;
        }
    }

    .btn-submit {
        margin: 30px 0;
        color: #FFFFFF;
        width: 120px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 8px;
        &:hover {
            box-shadow: 5px 5px 5px 5px #6596B6;
            color: red;
        }

    }
}