form {

    input {
        width: 225px;
        margin: 5px;
        padding: 5px;
        outline: none;
        border: 1px solid #000;
        border-radius: 5px 0 0 5px;

        &:focus {
            border: 2px solid #6596B6;
            border-radius: 5px;
        }
    }

    .width-input input {
        width: 460px;
    }

    textarea {
        outline: none;
        margin: 5px;
        &:focus {
            border: 2px solid #6596B6;
            border-radius: 5px;
        }
    }
}