.login-page {
  width: 600px;
  height: 400px;
  border: 2px solid #6596B6;
  border-radius: 5px;
  margin: auto;
  margin-top: 35px;

  a {
    text-decoration: none;
    color: #1890ff;
    &:hover{
      transition: #1890ff .3s ease;
    }
  }

  p {
    font-size: 35px;
    font-weight: bold;
  }

  .errors-message {
    color: red;
    font-size: 13px;
  }

  .width-input {
    input {
      width: 400px;
    }

    .site-form-item-icon {
      font-size: 20px;
    }
  }

  input,
  select {
    margin: 5px;
    padding: 6px 8px;
    font-size: 15px;
    outline: none;

    &:focus {
      border: 2px solid #6596B6;
      border-radius: 5px;
    }
  }

  .btn-submit {
    margin-top: 30px;

    input {
      background-color: #1890ff;
      color: #FFFFFF;
      width: 120px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px 8px;

      &:hover {
        box-shadow: 5px 5px 5px 5px #6596B6;
        color: red;
      }
    }
  }

  .login-form-box-forgot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .login-form-forgot {
      color: #1890ff;
      cursor: pointer;
    }
  }
}